/* Options */
body {
    margin: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #ccc;
    }
    .blue {
        color: #ccc;
    }
    h1 {
        color: #ccc;
    }
    fieldset legend {
        color: #ccc;
    }
    a {
        color: #ccc;
    }
    span#save-result {
        color: #ccc;
    }
    #header .help {
        background-color: #516c97;
    }
    #profiles .sidebar ul.items li.active {
        background-color: #777;
    }
    #profiles .extensions p.toggle {
        background-color: #777;
    }
    #profiles input#name {
        background-color: #777;
        color: white;
        border: 1px solid #999;
    }
    .info {
        background-color: #777;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
        color: black;
    }
    .blue {
        color: #516c97;
    }
    h1 {
        color: #516c97;
    }
    fieldset legend {
        color: #516c97;
    }
    a {
        color: #516c97;
    }
    span#save-result {
        color: #304669;
    }
    fieldset#options .field label {
        color: black;
    }
    #header .help {
        background-color: #ffd478;
    }
    #profiles .sidebar ul.items li.active {
        background-color: #ddd;
    }
    #profiles .extensions p.toggle {
        background-color: #ddd;
    }
    #profiles input#name {
        background-color: white;
        color: black;
        border: 1px solid #bbb;
    }
    .info {
        background-color: #aaa;
    }
}

hr {
    border: 0px;
    height: 1px;
}

.clear {
    clear: both;
}

img {
    vertical-align: middle;
}

h1 {
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5em;
}

fieldset {
    margin-top: 0.5em;
    border: none;
}

fieldset legend {
    float: left;
    clear: left;
    padding: 10px 3px;
    border-bottom: 1px solid #304669;
    font-weight: bold;
}

fieldset .field {
    float: left;
    clear: left;
}

fieldset .field.right {
    float: right;
    clear: right;
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    color: #ffffff;
    background-color: #516c97;
    border-color: #516c97;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 7px 10px;
}

button:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header h1 {
    margin: 0px;
}

#header .tabs {
    float: left;
    width: 300px;
    max-width: 300px;
}

#header .help {
    float: right;
    padding: 20px 20px;
    border-radius: 10px;
    line-height: 150%;
    width: 320px;
    max-width: 320px;
}

#header #menu {
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#header #menu a {
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: #516c97;
    background-color: #fff;
    border: 1px solid #516c97;
    border-radius: 5px;
    padding: 5px 10px;
}
#header #menu a:hover {
    text-decoration: none;
}
#header #menu a.selected {
    background-color: #516c97;
    color: white;
}

/* Options */
fieldset#options .field {
    margin: 0.8em 0em;
}

/* Profiles */
.instructions {
    float: right;
}

#profiles fieldset {
    float: left;
    min-width: 600px;
    max-width: 70%;
}

#profiles .fa {
    cursor: pointer;
    min-width: 15px;
    text-align: center;
}

#profiles .fa-trash {
    zoom: 110%;
}

#profiles .sidebar {
    float: left;
    width: 200px;
    max-width: 200px;
}

#profiles .extensions {
    float: left;
}

#profiles ul {
    padding-left: 0px;
}

#profiles .sidebar ul.items li {
    cursor: pointer;
    padding: 7px;
    margin: 10px 0px;
}

#profiles .sidebar .quota-error {
    background-color: #ffeeee;
    border: 1px solid red;
    border-radius: 5px;
    padding: 8px;
    margin-right: 5px;
}

#profiles label {
    line-height: 200%;
}

#profiles label.disabled {
    opacity: 0.5;
}

#profiles ul {
    list-style-type: none;
}

#profiles .extensions {
    border-left: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
}

#profiles .extensions p.toggle {
    margin: 0px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
}

#profiles input#name {
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    font-size: 1.05em;
    outline: none;
}

#profiles button.add {
    padding: 5px 8px;
    border-radius: 0px 5px 5px 0px;
}

.info {
    padding: 20px 20px;
    border-radius: 10px;
    line-height: 150%;
    width: 320px;
    max-width: 320px;
}

.fa.right {
    float: right;
    cursor: pointer;
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
}

/* Import/Export Styles */
.sync-actions {
    margin-top: 15px;
}

.sync-actions button {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Modal Dialog */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    .modal-content {
        background-color: #444;
        color: #ccc;
        border: 1px solid #666;
    }
}

.modal-header {
    padding: 10px 16px;
    position: relative;
}

.modal-body {
    padding: 20px 16px;
}

.modal-footer {
    padding: 10px 16px;
    text-align: right;
}

.modal-footer button {
    margin-left: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error {
    color: #d8000c;
    background-color: #ffd2d2;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.success {
    color: #4f8a10;
    background-color: #dff2bf;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
